<section id="title" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>e-SIC</h1>
                <p>Sistema Eletrônico de Informação ao Cidadão</p>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <li class="active"><%= locals[:page] %></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--/#title-->
