<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <h1>Caderno de Respostas</h1>

          <br><br>

          <%= render 'form', caderno_resposta: @caderno_resposta %>

      </div>
    </div>
  </div>
</section>
