<!DOCTYPE html>
<html>
  <head>
    <title>Escola de Dons 3D</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.1/dist/bootstrap-float-label.min.css"/>

    <!--[if !IE]><!-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<![endif]-->
      
  </head>

  <body>


    <%= yield %>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017 <a target="_blank" href="http://www.kallario.com.br" title="Desenvolvimento de Sistemas">Kalla Rio Tecnologia</a>. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

  </body>
</html>
